.main {
    background: lightblue;
    padding: 100px;
}

.main li {
    background: darkblue;
    width: 400px;
    height: 50px;
    padding: 0 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid skyblue;
    margin: 10px;
    color: lightblue;
    cursor: pointer;
}