.skillsBlock {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.skills li{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: antiquewhite;
    color: maroon;
    font-size: 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 15px;
    grid-column-gap: 10px;
}

