.btn {
    cursor: pointer;
    outline: none;
}

.loginButton {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    padding: 5px 10px;
    background: burlywood;
    color: maroon;
    font-weight: 700;
    margin-top: 25px;
}

.registrationButton {
    background: chocolate;
    margin-top: 25px;
}

.skillButton {
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
    color: #000;
    background: lightgray;
    opacity: .7;
}

.skillButton:hover {
    opacity: 1;
}