.loginInput, .registerInput {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #f8f8f8;
    margin-top: 20px;
    padding: 0 15px;
    outline: none;
    border: 0;
}

.registerInput {
    background: burlywood;
}

.skillInput, .skillEditInput {
    height: 25px;
    border-radius: 5px;
    background: lightblue;
    color: darkblue;
    width: 200px;
    border: 0;
    padding: 0 15px;
    outline: 0;
    margin: 0 15px 0 0;
}

.skillEditInput {
    width: 100px;
}