.headersUl{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 50%;
    font-size: 15px;
    color: floralwhite;
}
.headersUl li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.header{
    height: 50px;
    background: #333;
    display: flex;
    padding: 0  10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.img {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}
.img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.icon{
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 767px){
    .icon{
        display: block;
    }
    .headersUl{
        display: none;
        position: absolute;
        right: 60px;
        top: 100%;
        background: #333;
        color: #fff;
        flex-direction: column;
        width: 100px;
        list-style: square;
        padding: 20px;
    }
}
