.headersUl{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 50%;
    font-size: 25px;
    color: floralwhite;
}
.header{
    height: 100px;
    background: #BABABA;
    display: flex;
    padding: 0  10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.img {
    width: 70px;
    height: 70px;
}
.img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.icon{
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 767px){
    .icon{
        display: block;
    }
    .headersUl{
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: #BABABA;
        flex-direction: column;

    }
}