.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}