.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registration form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}